{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"],
      "approximate": true
    }],
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
